{% extends "_base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{%block nav %}
<nav id="menu" class="menu">
  <ul>
    <a href="{{PATH_PREFIX}}{{META.section_1_slug }}"><li>{{META.section_1_title }}</li></a>
    <a class="inactive" href="{{PATH_PREFIX}}{{META.section_2_slug }}"><li>{{META.section_2_title }}<br><span>(Coming Sept. 10)</span></li></a>
    <a class="inactive" href="{{PATH_PREFIX}}{{META.section_3_slug }}"><li>{{META.section_3_title }}<br><span>(Coming Sept. 11)</span></li></a>
  </ul>
</nav>
{% endblock %}

{% block content %}
  <section class="graf">
    <h2 class="headline graf">Case Summaries</h2>
    <section class="meta prose graf">
      <span class="byline">By Liz Crampton</a></span>
      &nbsp;|&nbsp;
      <span class="date">{{WORKERS.date }}</span>
    </section>
  </section>

  <section class="prose graf share-buttons">
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ WORKERS.headline | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2F&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a class="share" href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2F&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2F" title="share on Facebook" class="social-share" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
    </ul>
  </section>

  {% include 'includes/_cases.html' %}
  {{ cases(SUMMARIES) }}
{% endblock %}

{% block more %}
<div class="more-story">
  <a href="../{{ META.section_1_slug }}">
    <img src="{{ FOOTER.workers_sub_img }}" />
    <p class="upcoming">(Live on Sept. 10)</p>
    <h4>{{ META.section_1_title }}</h4>
  </a>
  <p>{{ FOOTER.workers_sub_desc }}</p>
</div>
<div class="more-story inactive">
  <a href="../{{ META.section_2_slug }}">
    <img src="{{ FOOTER.pros_sub_img }}" />
    <p class="upcoming">(Live on Sept. 10)</p>
    <h4>{{ META.section_2_title }}</h4>
  </a>
  <p>{{ FOOTER.workers_sub_desc }}</p>
</div>
<div class="more-story inactive">
  <a href="../{{ META.section_3_slug }}">
    <img src="{{ FOOTER.insur_sub_img }}" />
    <p class="upcoming">(Coming Sept. 11)</p>
    <h4>{{ META.section_3_title }}</h4>
  </a>
  <p>{{ FOOTER.insur_sub_desc }}</p>
</div>
{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
