@import 'node_modules/newsapps-styles/init-helpers';
@import 'node_modules/newsapps-styles/initialize';

$non-mobile: new-breakpoint(min-width 600px);
$light-teal: #99d0d3;

@import 'components/header';
@import 'components/nav';
@import 'components/story';
@import 'components/magnific';
@import 'components/more';
@import 'components/cards';
@import 'components/footer';

img {
  max-width: 100%;
}

// Ads

.ad-container {
  border-bottom: 1px solid $border-gray;
  border-top: 1px solid $border-gray;
  margin: 1em;
  padding: .5em 0;
  text-align: center;

  @include media($non-mobile) {
    border: 0;

    &.box-ad {
      float: left;
      margin-left: 0;
    }
  }
}
