@import 'node_modules/newsapps-styles/init-helpers';
@import 'node_modules/newsapps-styles/initialize';

@import 'components/header';
@import 'components/nav';
@import 'components/footer';

.prose {
  @include media($default-mobile) {
    h1 {
      font-size: 1.7em;
    }
  }

  h1 {
    line-height: 1.25em;
    margin: 0 0 .6em;
  }

  h2 {
    line-height: 1em;
    margin: 1em 0;
  }

  h3 {
    font-family: "Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &.info {
    p {
      color: $text-gray;
    }

    h3 {
      margin: 0 0 1em;
    }

    h4 {
      border-bottom: 1px solid $line-gray;
      color: $text-gray;
      font-style: italic;
    }

    ul {
      @include clearfix;

      font: 400 .875em Helvetica;
      font-size: 1em;
      line-height: 1.875em;
      list-style: none;
      padding: 0;
      text-align: left;

      li {
        font: 400 1em Georgia;
        line-height: 1.4em;
        margin-bottom: 1.25em;

        @include media($default-desktop) {
          @include span-columns(4);
          margin-right: 0;
        }

        .handle {

          font: 300 .95em Helvetica;
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
