.cards {
  p {
    font-family: $base-sans-serif;
  }
}

.case-summary {
  .summary-head {
    border-bottom: 2px solid $tribune-yellow;
    margin-bottom: 1em;
  }

  h2 {
    display: inline-block;
    line-height: 35px;
    margin-bottom: .3em;
  }

  .folder {
    float: left;
    height: 35px;
    margin-right: .5em;
  }
}

.case-card {
  border-bottom: 2px solid $tribune-yellow;
  border-top: 2px solid $tribune-yellow;

  @include media($non-mobile) {
    border: 0;

    &.left {
      border-right: 2px solid $tribune-yellow;
      float: left;
      margin-right: 1em;
    }

    &.right {
      border-left: 2px solid $tribune-yellow;
      float: right;
      margin-left: 1em;
    }
  }

  .top {
    @include clearfix;
    margin-bottom: .5em;
  }

  img {
    float: left;
    height: 2em;
    margin-right: .5em;
  }

  h3 {
    float: left;
    line-height: 2em;
    margin: .25em 0 0;
  }

  p {
    font-family: $base-sans-serif;
    font-size: .875em;
    margin: 0;
  }

  .ghost-button {
    border-radius: 0;
    float: left;
    font-size: .85em;
    font-weight: 700;
    margin-top: .75em;
    padding: .5em;
    width: 48%;

    &:nth-child(even) {
      float: right;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
