
$med-header: new-breakpoint(max-width 560px);
$small-header: new-breakpoint(max-width 400px);

.masthead {
  .branding {
    padding: .5em 0 .5em .25em;
    text-align: center;

    @include media($default-desktop) {
      padding: .5em 0;
      text-align: center;
    }

    @include media($small-header) {
      padding: .3em .2em;
    }

    .sub-text {
      color: $white;
      display: inline;
      line-height: .7em;
      vertical-align: text-top;

      @include media($med-header) {
        line-height: 0;
      }

      @include media($small-header) {
        vertical-align: super;
      }

      @include media($default-desktop) {
        font-size: 1.25em;
        line-height: .3em;
      }
    }

    a {
      margin: 0;
      padding: 0;
    }

    .trib-logo {
      height: 1.1em;

      @include media($default-desktop) {
        height: 1.25em;
      }

      @include media($small-header) {
        height: .9em;
        vertical-align: -1px;
      }
    }

    .statesman-logo {
      height: 1.45em;
      vertical-align: text-bottom;

      @include media($default-desktop) {
        height: 1.7em;
      }

      @include media($small-header) {
        height: 1.2em;
      }
    }

    img {
      padding: 0 .25em;

      @include media($med-header) {
        margin: .3em 0;
      }

      @include media($small-header) {
        padding: 0 .1em;
      }
    }
  }
}

.social {
  display: none;

  @include media($default-desktop) {
    display: block;
    float: right;
    margin: .75em 1em .75em 0;

    li {
      display: inline-block;
      padding: 0 .25em;
    }

    .fa {
      font-size: 1.25em;
      color: $white;

      &:hover {
        color: rgba(255, 255, 255, .75);
      }
    }
  }
}

.logo {
  margin: 2em 1em;
  text-align: center;

  @include media($med-header) {
    margin: 1em;
  }
}
