.info {
  border-top: 2px solid $tribune-yellow;

  h3 {
    @include clearfix;
  }

  h4 {
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: .02em;
    text-transform: uppercase;
  }

  p {
    color: $text-gray;
    font-family: Georgia;
    font-size: 1em;
  }

  .more {
    @include clearfix;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: .9em;
    line-height: 1.875em;
    list-style: none;
    padding: 0;
    text-align: left;
  }

  .more-story {
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 1.25em;;

    @include media($default-desktop) {
      margin-bottom: 1em;
      width: 48%;
    }

    &:nth-child(even) {
      @include media($default-desktop) {
        float: right;
      }
    }

    &:nth-child(odd) {
      @include media($default-desktop) {
        float: left;
      }
    }

    img {
      float: left;
      margin-right: 1em;
      width: 150px;
    }

    &:last-child {
      margin: 0;
    }
  }

  .upcoming {
    visibility: hidden;
    font-style: italic;
    margin-bottom: 0;
    font-size: 1em;
  }

  .inactive {
    pointer-events: none;

    img {
      filter: grayscale(100%);
    }

    h4 {
      color: $border-gray;
      margin-top: .25em;
    }

    p {
      color: $border-gray;

      &.upcoming {
        visibility: visible;
      }
    }
  }
}
