.info {
  border-top: 2px solid $tribune-yellow;

  h3 {
    @include clearfix;
    margin: 1em 0 .5em;
  }

  h4 {
    font-size: 1.2em;
    text-transform: capitalize;
  }

  p {
    color: $text-gray;
    font-family: Georgia;
    font-size: 1em;
  }

  .more {
    @include clearfix;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: .9em;
    line-height: 1.875em;
    list-style: none;
    padding: 0;
    text-align: left;
  }

  .more-story {
    @include clearfix;
    font-size: 1em;
    line-height: 1.4em;
    margin-bottom: 1.25em;

    @include media($default-desktop) {
      margin-bottom: 1em;
      width: 48%;
    }

    &:nth-child(even) {
      @include media($default-desktop) {
        float: right;
      }
    }

    &:nth-child(odd) {
      @include media($default-desktop) {
        float: left;
      }
    }

    img {
      float: left;
      margin-right: 1em;
      width: 175px;
    }

    &:last-child {
      margin: 0;
    }
  }
}
