$nav-bp: new-breakpoint(min-width 900px);

.menu {
  background-color: $href-teal;

  @include media($non-mobile) {
    background-color: $white;
    border-bottom: 2px solid $href-teal;
  }

  &.sticky {
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    li {
      padding: 1em .75em;
      width: 31%;

      @include media($non-mobile) {
        width: auto;
      }

      @include media($nav-bp) {
        padding: 1em;
      }
    }
  }

  ul {
    @include clearfix;
    margin: 0 auto;
  }

  a {
    color: $light-teal;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .02em;
    text-transform: uppercase;

    @include media($non-mobile) {
      color: $bodytext-black;
    }

    &:hover {
      text-decoration: none;
    }
  }

  li {
    border: 1px solid $href-teal;
    border-radius: 5px;
    float: left;
    font-size: .75em;
    margin: 1%;
    padding: 1em .75em;
    text-align: center;
    width: 31%;

    @include media($non-mobile) {
      background-color: $white;
      border: 0;
      border-radius: 0;
      font-size: .85em;
      margin: 0;
      width: 33.3%;

      &:hover {
        background-color: $href-teal;
        color: $white;
      }
    }

    @include media($nav-bp) {
      font-size: 1em;
    }

    &:hover {
      border-color: $light-teal;
    }

    &.selected {
      background-color: $light-teal;
      color: $bodytext-black;

      &:hover {
        background-color: $light-teal;
        color: $bodytext-black;
      }
    }
  }

  &.menu-open {
    display: block;
  }

  .home {
    display: none;

    li {
      padding: .85em .75em .65em .75em;

      &:hover {
        background: none;
      }
    }

    img {
      display: none;
      width: 175px;

      @include media($default-desktop) {
        display: block;
      }

      @include media($nav-bp) {
        width: 200px;
      }
    }
  }

  .social-share {
    display: none;

    li {
      background: none;
      padding: .9em .5em;
      position: fixed;
      right: 0;
      top: 0;
      width: 3em;

       &:hover {
         background: none;

         .fa {
           color: rgba(0, 137, 144, .75);
         }
       }
    }

    .twitter {
      right: 3em;
    }

    .fa {
      color: $href-teal;
      font-size: 1.2em;
    }
  }
}
