$nav-bp: new-breakpoint(min-width 900px);

.menu {
  background-color: $href-teal;

  @include media($non-mobile) {
    background-color: $white;
    border-bottom: 2px solid $href-teal;
  }

  &.sticky {
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  ul {
    @include clearfix;
    margin: 0 auto;
    max-width: 1081px;
  }

  a {
    color: $light-teal;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .02em;
    text-transform: uppercase;

    @include media($non-mobile) {
      color: $bodytext-black;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .inactive {
    pointer-events: none;

    li {
      color: $border-gray;
      padding: .5em;
    }

    span {
      font-size: .875em;
      font-style: italic;
      text-transform: capitalize;
    }
  }

  li {
    border: 1px solid $href-teal;
    border-radius: 5px;
    float: left;
    font-size: .7em;
    margin: 1%;
    padding: 1em .5em;
    text-align: center;
    width: 31%;

    @include media($non-mobile) {
      background-color: $white;
      border: 0;
      border-radius: 0;
      font-size: .9em;
      margin: 0;
      width: 33.3%;

      &:hover {
        background-color: $href-teal;
        color: $white;
      }
    }

    @include media($nav-bp) {
      font-size: 1em;
    }

    &:hover {
      border-color: $light-teal;
    }

    &.selected {
      background-color: $light-teal;
      color: $bodytext-black;

      &:hover {
        background-color: $light-teal;
        color: $bodytext-black;
      }
    }
  }

  &.menu-open {
    display: block;
  }
}
