.story-container {
  margin: 1em auto;
  max-width: 920px;
  padding: 0 1em;
}

.graf {
  margin-left: auto;
  margin-right: auto;
  max-width: 680px;

  &.first {
    p:first-child:first-letter {
      color: $href-teal;
      float: left;
      font-size: 5.1em;
      font-weight: 700;
      line-height: 1em;
      margin: -9px 3px;
    }
  }
}

.meta {
  font-size: .875em;
  margin: 1em 0;
}

.headline {
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1.5em;
  font-weight: 400;
}

.share-buttons {
  border-bottom: 1px solid $border-gray;
  border-top: 1px solid $border-gray;
  line-height: 1em;
  margin-bottom: 1em;

  ul {
    margin: 0;

    li {
      list-style: none;
      display: inline-block;
      width: 49%;
      text-align: center;
      margin: 0;
      padding: .75em 0;

      &:last-child {
        border-left: 1px solid $border-gray;
        margin-bottom: 0;
      }
    }
  }

  .fa {
    font-size: 1.5em;
  }
}


.photo {
  border-bottom: 1px solid $tribune-yellow;
  margin-bottom: 1em;
  padding-bottom: .5em;

  &.top {
    border: 0;
  }

  &.inline {
    @include media($default-desktop) {
      clear: left;
      float: left;
      margin: 1em 2em 1em 0;
      width: 40%;
    }
  }

  .caption {
    margin: 0;
  }

  .credit {
    font-size: .75em;
    font-weight: 300;
    margin-bottom: .5em;
    text-align: right;
  }
}

.inline-feature {
  border-left: 2px solid $tribune-yellow;
  margin: 1em 0;
  padding: .25em 1em;
  position: relative;

  @include media($default-desktop) {
    float: right;
    margin-right: 1em;
    margin: .75em 0 .75em 3%;
    padding-left: 1em;
    width: 46%;
  }

  ul {
    font-size: .95em;
    font-weight: 400;
    line-height: 1.4em;
    margin: 1em 0 0 1em;

    li {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.prose {
  @include media($default-desktop) {
    &.inline-feature {
      h3 {
        margin: 0;
      }
    }
  }

  h2 {
    line-height: 1em;
    margin: 1em 0;
  }

  h3 {
    font-family: "Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 1em 0;
    text-transform: uppercase;
  }

  .blockquote {
    font-size: 1.5rem;
    margin-bottom: .5em;
  }

  .disclosure {
    font-style: italic;
  }
}
