.story-container {
  margin: 1em auto;
  max-width: 920px;
  padding: 0 1em;
}

.graf {
  margin-left: auto;
  margin-right: auto;
  max-width: 680px;

  &.first {
    p:first-child:first-letter {
      color: $href-teal;
      float: left;
      font-size: 5.1em;
      font-weight: 700;
      line-height: 1em;
    }
  }

  &.main {
    p:first-child:first-letter {
      margin: -9px 3px -9px 0;
    }
  }

  &.prosecutor {
    p:first-child:first-letter {
      font-size: 4.7em;
      margin: -5px 4px -5px 0;
    }
  }

  &.insurance {
    p:first-child:first-letter {
      margin: -9px 3px -9px 0;
    }
  }
}

.meta {
  font-family: $base-sans-serif;
  font-size: .875em;
  margin: 1em 0;
}

.headline {
  font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1.65em;
  font-weight: 400;

  @include media($default-mobile) {
    font-size: 1.3em;
  }
}

.share-buttons {
  border-bottom: 1px solid $border-gray;
  border-top: 1px solid $border-gray;
  line-height: 1em;
  margin-bottom: 1em;

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: .75em 0;
    text-align: center;
    width: 49%;

    &:last-child {
      border-left: 1px solid $border-gray;
      margin-bottom: 0;
    }
  }

  .fa {
    font-size: 1.5em;
  }
}


.photo {
  border-bottom: 1px solid $tribune-yellow;
  margin-bottom: 1em;
  padding-bottom: .5em;

  &.top {
    border: 0;
  }

  &.inline {
    @include media($default-desktop) {
      clear: left;
      float: left;
      margin: 1em 2em 1em 0;
      width: 40%;
    }
  }

  .caption {
    margin: 0;
  }

  .credit {
    font-size: .75em;
    font-weight: 300;
    margin-bottom: .5em;
    text-align: right;
  }

  &.video {
    padding-bottom: 0;

    .credit {
      margin-top: .5em;
    }
  }
}

.inline-feature {
  border-bottom: 1px solid $tribune-yellow;
  border-top: 1px solid $tribune-yellow;
  margin: 1em 0;
  padding: 1em;
  position: relative;

  @include media($default-desktop) {
    border-bottom: 0;
    border-left: 1px solid $tribune-yellow;
    border-top: 0;
    float: right;
    margin: .75em 0 .75em 3%;
    padding: .25em 1em;
    width: 46%;
  }

  h3 {
    margin: 0;
    text-transform: uppercase;
  }

  ul {
    font-size: .95em;
    font-weight: 400;
    line-height: 1.4em;
    margin: 1em 0 0 1em;
  }

  li {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.prose {
  h2 {
    line-height: 1em;
    margin: 1em 0;
  }

  h3 {
    font-family: "Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: .02em;
  }

  &.graf {
    h3 {
      font-size: 1.25em;
      line-height: 1.2em;
      margin: 1em 0;
      text-transform: capitalize;
    }
  }

  .blockquote {
    font-size: 1.5rem;
    margin-bottom: .5em;
  }

  .disclosure {
    font-style: italic;
  }
}
