{% extends "_base.html" %}

{% block social_meta %}
<meta property="og:url" content="http://apps.texastribune.org/paid-to-prosecute/">
<meta property="og:title" content="{{ META.project_title }}">
<meta property="og:description" content="{{META.section_1_title}}: {{ WORKERS.headline }}">
{% endblock %}

{% block styles %}
{{ super() }}
{% endblock %}

{%block nav %}
  {{ super()}}
  <a href="{{PATH_PREFIX}}{{META.section_1_slug }}"><li class="selected">{{META.section_1_title }}</li></a>
  <a href="{{PATH_PREFIX}}{{META.section_2_slug }}"><li>{{META.section_2_title }}</li></a>
  <a href="{{PATH_PREFIX}}{{META.section_3_slug }}"><li>{{META.section_3_title }}</li></a>
{% endblock %}

{% block content %}
  <h2 class="headline">{{ WORKERS.headline }}</h2>
  <section class="byline prose">
    By <a href="http://www.texastribune.org/about/staff/jay-root">Jay Root</a>
      and <a href="http://www.statesman.com/staff/tony-plohetski/">Tony Plohetski</a>
    &nbsp;|&nbsp;
    {{WORKERS.date }}
  </section>

  <figure class="prose photo top">
    <img src="{{PATH_PREFIX}}assets/images/{{ WORKERS.img_1 }}" />
    <figcaption class="caption credit">{{WORKERS.credit_1 }}</figcaption>
    <figcaption class="caption">{{ WORKERS.caption_1 }}</figcaption>
  </figure>

  <section class="prose graf share-buttons">
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ META.section_1_title | urlencode}}%3A%20{{ WORKERS.headline | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2F&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a class="share" href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2Fprosecutor&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2Fprosecutor" title="share on Facebook" class="social-share" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
    </ul>
  </section>

  <section class="prose graf first main">
    {{ WORKERS.text_1 }}
  </section>

  <div class="prose inline-feature">
    <h3>Investigative Findings</h3>
      {{ META.findings }}
  </div>

  <section class="prose graf">
    {{ WORKERS.text_2 }}
  </section>

  <figure class="prose photo video">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/sggsXaCZNMs" frameborder="0" allowfullscreen></iframe>
    <figcaption class="caption credit">{{WORKERS.vid_credit }}</figcaption>
    <figcaption class="caption">{{ WORKERS.vid_caption }}</figcaption>
  </figure>

  <section class="prose graf">
    {{ WORKERS.text_3 }}
  </section>

  <section class="prose inline-feature case-card right">
    <div class="top">
      <img src="{{PATH_PREFIX}}assets/images/folder.png">
      <h3>Case Studies</h3>
    </div>
    <div class="caption">{{ CARDS.cards_intro }}</div>
    <div class="gallery">
      <a class="half ghost-button" href="#card1">{{ CARDS.card1_title }}</a>
      <a class="half ghost-button" href="#card2">{{ CARDS.card2_title }}</a>
      <a class="half ghost-button" href="#card3">{{ CARDS.card3_title }}</a>
      <a class="half ghost-button" href="#card4">{{ CARDS.card4_title }}</a>
    </div>
    <!-- Lightbox content -->
    <div id="card1" class="white-popup mfp-hide zoom-anim-dialog">
      <div class="case-summary">
        <div class="summary-head">
            <img class="folder" src="{{PATH_PREFIX}}assets/images/folder.png">
            <h2>Case Studies</h2>
          </div>
          <h3>{{ CARDS.card1_title }}</h3>
          {{ CARDS.card1 }}
      </div>
    </div>
    <div id="card2" class="white-popup mfp-hide zoom-anim-dialog">
      <div class="case-summary">
        <div class="summary-head">
            <img class="folder" src="{{PATH_PREFIX}}assets/images/folder.png">
            <h2>Case Studies</h2>
          </div>
          <h3>{{ CARDS.card2_title }}</h3>
          {{ CARDS.card2 }}
      </div>
    </div>
    <div id="card3" class="white-popup mfp-hide zoom-anim-dialog">
      <div class="case-summary">
        <div class="summary-head">
            <img class="folder" src="{{PATH_PREFIX}}assets/images/folder.png">
            <h2>Case Studies</h2>
          </div>
          <h3>{{ CARDS.card3_title }}</h3>
          {{ CARDS.card3 }}
      </div>
    </div>
    <div id="card4" class="white-popup mfp-hide zoom-anim-dialog">
      <div class="case-summary">
        <div class="summary-head">
            <img class="folder" src="{{PATH_PREFIX}}assets/images/folder.png">
            <h2>Case Studies</h2>
          </div>
          <h3>{{ CARDS.card4_title }}</h3>
          {{ CARDS.card4 }}
      </div>
    </div>
  </section>

  <section class="prose graf">
    {{ WORKERS.text_4 }}
  </section>

  <div class="ad-container box-ad" id="div-gpt-ad-1406570316312-1">
    <script>
      googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-1406570316312-1');
      });
    </script>
  </div>

  <section class="prose graf">
    {{ WORKERS.text_5 }}
  </section>

  <section class="prose inline-feature case-card">
    <div class="top">
      <img src="{{PATH_PREFIX}}assets/images/folder.png">
      <h3>The Kyees Case: Lawyers Weigh In</h3>
    </div>
    <div class="caption">
      {{ PULLOUT.description }}
    </div>
    <div class="gallery">
      <a class="ghost-button" href="#response1">{{ PULLOUT.side1_title }}</a>
      <a class="ghost-button" href="#response2">{{ PULLOUT.side2_title }}</a>
    </div>
    <!-- Lightbox content -->
    <div id="response1" class="white-popup mfp-hide zoom-anim-dialog">
      <div class="case-summary">
        <div class="summary-head">
          <img class="folder" src="{{PATH_PREFIX}}assets/images/folder.png">
          <h2>The Kyees Case: Lawyers Weigh In</h2>
        </div>
        <h3>{{ PULLOUT.side1_title }}</h3>
        {{ PULLOUT.side1 }}
      </div>
    </div>
    <div id="response2" class="white-popup mfp-hide zoom-anim-dialog">
      <div class="case-summary">
        <div class="summary-head">
            <img class="folder" src="{{PATH_PREFIX}}assets/images/folder.png">
            <h2>The Kyees Case: Lawyers Weigh In</h2>
          </div>
          <h3>{{ PULLOUT.side2_title }}</h3>
          {{ PULLOUT.side2 }}
      </div>
    </div>
  </section>

  <section class="prose graf">
    {{ WORKERS.text_6 }}
  </section>

  <section class="prose graf share-buttons">
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ META.section_1_title | urlencode}}%3A%20{{ WORKERS.headline | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2F&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a class="share" href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2F&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2F" title="share on Facebook" class="social-share" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
    </ul>
  </section>

{% endblock %}

{% block more %}
<div class="more-story">
  <a href="{{PATH_PREFIX}}{{ META.section_2_slug }}">
    <img src="{{PATH_PREFIX}}assets/images/{{ FOOTER.pros_sub_img }}" />
    <h4>{{ META.section_2_title }}</h4>
  </a>
  <p>{{ FOOTER.pros_sub_desc }}</p>
</div>
<div class="more-story">
  <a href="{{PATH_PREFIX}}{{ META.section_3_slug }}">
    <img src="{{PATH_PREFIX}}assets/images/{{ FOOTER.insur_sub_img }}" />
    <h4>{{ META.section_3_title }}</h4>
  </a>
  <p>{{ FOOTER.insur_sub_desc }}</p>
</div>
{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
