{% extends "_base.html" %}

{% block styles %}
<link rel="stylesheet" href="styles/main.css">
{{ super() }}
{% endblock %}

{%block statesmanlogo %}
<img class="statesman-logo desktop" alt="The Austin American-Statesman" src="assets/images/statesman-logo.svg">
{% endblock %}

{%block nav %}
<nav id="menu" class="menu">
  <ul>
    <a href="{{META.section_1_slug }}"><li class="selected">{{META.section_1_title }}</li></a>
    <a  class="inactive" href="{{META.section_2_slug }}"><li>{{META.section_2_title }}<br><span>(Coming Sept. 10)</span></li></a>
    <a  class="inactive" href="{{META.section_3_slug }}"><li>{{META.section_3_title }}<br><span>(Coming Sept. 11)</span></li></a>
  </ul>
</nav>
{% endblock %}

{% block logo %}
<img src="assets/images/p2p-logo.svg">
{% endblock %}

{% block content %}
  <h2 class="headline">{{ WORKERS.headline }}</h2>
  <section class="meta prose">
    <span class="byline">By <a href="http://www.texastribune.org/about/staff/jay-root">Jay Root</a>
      and <a href="http://www.statesman.com/staff/tony-plohetski/">Tony Plohetski</a></span>
    &nbsp;|&nbsp;
    <span class="date">{{WORKERS.date }}</span>
  </section>

  <figure class="prose photo top">
    <img src="{{ WORKERS.img_1 }}" />
    <figcaption class="caption credit">{{WORKERS.credit_1 }}</figcaption>
    <figcaption class="caption">{{ WORKERS.caption_1 }}</figcaption>
  </figure>

  <section class="prose graf share-buttons">
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ WORKERS.headline | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2F&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a class="share" href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2F&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2F" title="share on Facebook" class="social-share" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
    </ul>
  </section>

  <section class="prose graf first">
    {{ WORKERS.text_1 }}
  </section>
  <div class="prose inline-feature">
    <h3>Investigative Findings</h3>
      {{ META.findings }}
  </div>
  <section class="prose graf">
    {{ WORKERS.text_2 }}
    <blockquote class="prose-block">
      <p class="blockquote">{{ WORKERS.block_quote }}</p>
      <p class="blockquote-source">— {{ WORKERS.block_quote_source }}</p>
    </blockquote>
    {{ WORKERS.text_3 }}
  </section>

  <section class="prose case-card left">
    <h3>Related Coverage</h3>
    <div class="top">
      <img src="{{PATH_PREFIX}}assets/images/folder.png">
      <h4>{{ CARDS.card1_title }}</h4>
    </div>
    {{ CARDS.card1_desc }}
    <a class="ghost-button" href="{{PATH_PREFIX}}cases#case1">Learn more</a>
  </section>

  <figure class="prose photo inline">
    <img src="assets/images/{{ WORKERS.img_2 }}" />
    <figcaption class="caption credit">{{WORKERS.credit_2 }}</figcaption>
    <figcaption class="caption">{{ WORKERS.caption_2 }}</figcaption>
  </figure>
  <section class="prose graf">
    {{ WORKERS.text_4 }}
  </section>

  <section class="prose graf">
    {{ WORKERS.text_5 }}
    <p class="disclosure">Liz Crampton contributed to this report.</p>
  </section>
{% endblock %}

{% block more %}
<div class="more-story inactive">
  <a href="{{ META.section_2_slug }}">
    <img src="{{ FOOTER.pros_sub_img }}" />
    <p class="upcoming">(Coming Sept. 10)</p>
    <h4>{{ META.section_2_title }}</h4>
  </a>
  <p>{{ FOOTER.pros_sub_desc }}</p>
</div>
<div class="more-story inactive">
  <a href="{{ META.section_3_slug }}">
    <img src="{{ FOOTER.insur_sub_img }}" />
    <p class="upcoming">(Coming Sept. 11)</p>
    <h4>{{ META.section_3_title }}</h4>
  </a>
  <p>{{ FOOTER.insur_sub_desc }}</p>
</div>
{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
