{% extends "_base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{%block nav %}
<nav id="menu" class="menu">
  <ul>
    <a href="{{PATH_PREFIX}}{{META.section_1_slug }}"><li class="selected">{{META.section_1_title }}</li></a>
    <a href="{{PATH_PREFIX}}{{META.section_2_slug }}"><li>{{META.section_2_title }}</li></a>
    <a href="{{PATH_PREFIX}}{{META.section_3_slug }}"><li>{{META.section_3_title }}</li></a>
  </ul>
</nav>
{% endblock %}

{% block content %}
  <h2 class="headline">{{ WORKERS.headline }}</h2>
  <section class="meta prose">
    <span class="byline">By <a href="http://www.texastribune.org/about/staff/jay-root">Jay Root</a>
      and <a href="http://www.statesman.com/staff/tony-plohetski/">Tony Plohetski</a></span>
    &nbsp;|&nbsp;
    <span class="date">{{WORKERS.date }}</span>
  </section>

  <figure class="prose photo top">
    <img src="{{PATH_PREFIX}}assets/images/{{ WORKERS.img_1 }}" />
    <figcaption class="caption credit">{{WORKERS.credit_1 }}</figcaption>
    <figcaption class="caption">{{ WORKERS.caption_1 }}</figcaption>
  </figure>

  <section class="prose graf share-buttons">
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ WORKERS.headline | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2F&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a class="share" href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2F&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2F" title="share on Facebook" class="social-share" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
    </ul>
  </section>

  <section class="prose graf first">
    {{ WORKERS.text_1 }}
    {{ WORKERS.text_2 }}
  </section>

  <div class="prose inline-feature">
    <h3>Investigative Findings</h3>
      {{ META.findings }}
  </div>

  <section class="prose graf">
    {{ WORKERS.text_3 }}

    <figure class="prose photo">
      <iframe width="100%" height="358" src="https://www.youtube.com/embed/sZIsNNTLhAI" frameborder="0" allowfullscreen></iframe>
      <figcaption class="caption credit">{{WORKERS.vid_credit }}</figcaption>
      <figcaption class="caption">{{ WORKERS.vid_caption }}</figcaption>
    </figure>

    {{WORKERS.text_4}}
    {{ WORKERS.text_5 }}
  </section>

  <section class="prose inline-feature case-card right">
    <div class="top">
      <img src="{{PATH_PREFIX}}assets/images/folder.png">
      <h2>Other Cases</h2>
    </div>
    {{ CARDS.cards_intro }}
    <a class="ghost-button open-popup-link" href="#card1">{{ CARDS.card1_title }}</a>
    <a class="ghost-button open-popup-link" href="#card2">{{ CARDS.card2_title }}</a>
    <a class="ghost-button open-popup-link" href="#card3">{{ CARDS.card3_title }}</a>
    <a class="ghost-button open-popup-link" href="#card4">{{ CARDS.card4_title }}</a>
    <!-- Lightbox content -->
    <div id="card1" class="white-popup mfp-hide zoom-anim-dialog">
      <div class="case-summary">
        <div class="summary-head">
            <img class="folder" src="{{PATH_PREFIX}}assets/images/folder.png">
            <h2>{{ CARDS.card1_title }}</h2>
          </div>
          {{ CARDS.card1 }}
          <p><i> &mdash; Liz Crampton</i></p>
      </div>
    </div>
    <div id="card2" class="white-popup mfp-hide zoom-anim-dialog">
      <div class="case-summary">
        <div class="summary-head">
            <img class="folder" src="{{PATH_PREFIX}}assets/images/folder.png">
            <h2>{{ CARDS.card2_title }}</h2>
          </div>
          {{ CARDS.card2 }}
          <p><i> &mdash; Liz Crampton</i></p>
      </div>
    </div>
    <div id="card3" class="white-popup mfp-hide zoom-anim-dialog">
      <div class="case-summary">
        <div class="summary-head">
            <img class="folder" src="{{PATH_PREFIX}}assets/images/folder.png">
            <h2>{{ CARDS.card3_title }}</h2>
          </div>
          {{ CARDS.card3 }}
          <p><i> &mdash; Liz Crampton</i></p>
      </div>
    </div>
    <div id="card4" class="white-popup mfp-hide zoom-anim-dialog">
      <div class="case-summary">
        <div class="summary-head">
            <img class="folder" src="{{PATH_PREFIX}}assets/images/folder.png">
            <h2>{{ CARDS.card4_title }}</h2>
          </div>
          {{ CARDS.card4 }}
          <p><i> &mdash; Liz Crampton</i></p>
      </div>
    </div>
  </section>

  <section class="prose graf">
    {{ WORKERS.text_6 }}
    {{ WORKERS.text_7 }}
  </section>

  <div class="ad-container box-ad" id="div-gpt-ad-1406570316312-1">
    <script>
      googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-1406570316312-1');
      });
    </script>
  </div>

  <section class="prose graf">
    {{ WORKERS.text_8 }}
  </section>

  <figure class="prose photo">
    PULLOUT WILL GO HERE
    <figcaption class="caption credit">{{WORKERS.credit_2 }}</figcaption>
    <figcaption class="caption">{{ WORKERS.caption_2 }}</figcaption>
  </figure>

  <section class="prose graf">
    {{ WORKERS.text_9 }}
  </section>

{% endblock %}

{% block more %}
<div class="more-story">
  <a href="{{PATH_PREFIX}}{{ META.section_2_slug }}">
    <img src="{{PATH_PREFIX}}assets/images/{{ FOOTER.pros_sub_img }}" />
    <h4>{{ META.section_2_title }}</h4>
  </a>
  <p>{{ FOOTER.pros_sub_desc }}</p>
</div>
<div class="more-story">
  <a href="{{PATH_PREFIX}}{{ META.section_3_slug }}">
    <img src="{{PATH_PREFIX}}assets/images/{{ FOOTER.insur_sub_img }}" />
    <h4>{{ META.section_3_title }}</h4>
  </a>
  <p>{{ FOOTER.insur_sub_desc }}</p>
</div>
{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
