{% extends "_base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{%block nav %}
<nav id="menu" class="menu">
  <ul>
    <a href="{{PATH_PREFIX}}{{META.section_1_slug }}"><li>{{META.section_1_title }}</li></a>
    <a href="{{PATH_PREFIX}}{{META.section_2_slug }}"><li>{{META.section_2_title }}</li></a>
    <a href="{{PATH_PREFIX}}{{META.section_3_slug }}"><li class="selected">{{META.section_3_title }}</li></a>
  </ul>
</nav>
{% endblock %}

{% block content %}
  <h2 class="headline">{{ INSURANCE.headline }}</h2>
  <section class="meta prose">
    <span class="byline">By <a href="http://www.texastribune.org/about/staff/jay-root">Jay Root</a>
      and <a href="http://www.statesman.com/staff/tony-plohetski/">Tony Plohetski</a></span>
    &nbsp;|&nbsp;
    <span class="date">{{INSURANCE.date }}</span>
  </section>

  <figure class="prose photo top">
    <img src="{{PATH_PREFIX}}assets/images/{{ INSURANCE.img_1 }}" />
    <figcaption class="caption credit">{{INSURANCE.credit_1 }}</figcaption>
    <figcaption class="caption">{{ INSURANCE.caption_1 }}</figcaption>
  </figure>

  <section class="prose graf share-buttons">
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ META.section_3_title | urlencode}}%3A%20{{ INSURANCE.headline | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2F{{META.section_3_slug | urlencode }}&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a class="share" href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fmoose.texastribune.org%2Fpaid-to-prosecute%2F{{META.section_3_slug | urlencode }}&redirect_uri=http%3A%2F%2Fmoose.texastribune.org%2Fpaid-to-prosecute%2F{{META.section_3_slug | urlencode }}" title="share on Facebook" class="social-share" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
    </ul>
  </section>

  <section class="prose graf first insurance">
    {{ INSURANCE.text_1 }}
  </section>

  <div class="prose inline-feature">
    <h3>Investigative Findings</h3>
      {{ META.findings }}
  </div>

  <section class="prose graf">
    {{ INSURANCE.text_2 }}
  </section>

  <div class="ad-container box-ad" id="div-gpt-ad-1406570316312-1">
    <script>
      googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-1406570316312-1');
      });
    </script>
  </div>

  <section class="prose graf">
    {{ INSURANCE.text_3 }}
  </section>

    <figure class="prose photo video">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/sggsXaCZNMs" frameborder="0" allowfullscreen></iframe>
      <figcaption class="caption credit">{{WORKERS.vid_credit }}</figcaption>
      <figcaption class="caption">{{ WORKERS.vid_caption }}</figcaption>
    </figure>

  <section class="prose graf">
    {{ INSURANCE.text_4 }}

  <blockquote class="prose-block">
    <p class="blockquote">{{ INSURANCE.block_quote }}</p>
    <p class="blockquote-source">— {{ INSURANCE.block_quote_source }}</p>
  </blockquote>

    {{ INSURANCE.text_5 }}
  </section>
{% endblock %}

{% block more %}
<div class="more-story">
  <a href="{{PATH_PREFIX}}{{ META.section_1_slug }}">
    <img src="{{PATH_PREFIX}}assets/images/{{ FOOTER.workers_sub_img }}" />
    <h4>{{ META.section_1_title }}</h4>
  </a>
  <p>{{ FOOTER.workers_sub_desc }}</p>
</div>
<div class="more-story">
  <a href="{{PATH_PREFIX}}{{ META.section_2_slug }}">
    <img src="{{PATH_PREFIX}}assets/images/{{ FOOTER.pros_sub_img }}" />
    <h4>{{ META.section_2_title }}</h4>
  </a>
  <p>{{ FOOTER.pros_sub_desc }}</p>
</div>
{% endblock %}

{% block script %}
{{ super()}}
{% endblock %}
