{% extends "_base.html" %}

{% block styles %}
<link rel="stylesheet" href="../styles/main.css">
{{ super() }}
{% endblock %}

{%block statesmanlogo %}
<img class="statesman-logo desktop" alt="The Austin American-Statesman" src="../assets/images/statesman-logo.svg">
{% endblock %}

{%block nav %}
<nav id="menu" class="menu">
  <ul>
    <a href="/{{META.section_1_slug }}"><li>{{META.section_1_title }}</li></a>
    <a href="/{{META.section_2_slug }}"><li>{{META.section_2_title }}</li></a>
    <a href="/{{META.section_3_slug }}"><li class="selected">{{META.section_3_title }}</li></a>
  </ul>
</nav>
{% endblock %}

{% block logo %}
<img src="../assets/images/p2p-logo.svg">
{% endblock %}

{% block content %}
  <h2 class="headline">{{ INSURANCE.headline }}</h2>
  <section class="meta prose">
    <span class="byline">By <a href="http://www.texastribune.org/about/staff/jay-root">Jay Root</a>
      and <a href="http://www.statesman.com/staff/tony-plohetski/">Tony Plohetski</a></span>
    &nbsp;|&nbsp;
    <span class="date">{{INSURANCE.date }}</span>
  </section>

  <figure class="prose photo">
    <img src="{{ INSURANCE.img_1 }}" />
    <figcaption class="caption credit">{{INSURANCE.credit_1 }}</figcaption>
    <figcaption class="caption">{{ INSURANCE.caption_1 }}</figcaption>
  </figure>

  <section class="prose graf share-buttons">
    <ul>
      <li>
        <a href="https://twitter.com/intent/tweet?text={{ WORKERS.headline | urlencode }}%20http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2F&via=texastribune" title="share on Twitter" class="social-share" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a class="share" href="https://www.facebook.com/dialog/share?app_id=154122474650943&display=popup&href=http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2F&redirect_uri=http%3A%2F%2Fapps.texastribune.org%2Fpaid-to-prosecute%2F" title="share on Facebook" class="social-share" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
    </ul>
  </section>

  <section class="prose graf first">
    {{ INSURANCE.text_1 }}
  </section>
  <div class="prose inline-feature">
    <h3>Investigative Findings</h3>
      {{ META.findings }}
  </div>
  <section class="prose graf">
    {{ INSURANCE.text_2 }}
    <p class="disclosure">Liz Crampton contributed to this report.</p>
  </section>
{% endblock %}

{% block more %}
<li>
  <a href="{{ META.section_1_link }}">
    <img src="{{ FOOTER.workers_sub_img }}" />
    <h4>{{ META.section_1_title }}</h4>
  </a>
  <p>{{ FOOTER.workers_sub_desc }}</p>
</li>
<li>
  <a href="{{ META.section_2_link }}">
    <img src="{{ FOOTER.pros_sub_img }}" />
    <h4>{{ META.section_2_title }}</h4>
  </a>
  <p>{{ FOOTER.pros_sub_desc }}</p>
</li>
{% endblock %}

{% block script %}
{{ super()}}
<script src="../scripts/main.js"></script>
{% endblock %}
