  <!--   Open Graph -->
  <meta property="og:site_name" content="The Texas Tribune">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://apps.texastribune.org/paid-to-prosecute/">
  <meta property="og:title" content="{{ META.project_title }}">
  <meta property="og:description" content="{{ META.subhead }}">
  <meta property="og:image" content="{{ PATH_PREFIX }}assets/images/promo.png">

  <!-- Twitter settings -->
  <meta name="twitter:card" value="summary_large_image">
  <meta name="twitter:site" value="@TexasTribune">
  <meta name="twitter:creator" content="@newsapps">
  <meta name="twitter:title" content="{{ META.project_title }}">
  <meta name="twitter:description" content="{{ META.subhead }}">
  <meta name="twitter:image" content="{{ PATH_PREFIX }}assets/images/promo.png">
