<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ META.project_title}} | The Texas Tribune</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  {% include 'includes/_social_meta.html' %}
  <link rel="shortcut icon" type="image/x-icon" href="//s3.amazonaws.com/static.texastribune.org/common/images/favicon.ico">
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% block styles %}
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  {% endblock %}
</head>
<body>
  <header class="masthead app-bar promote-layer">
    <div class="container menu-container">
      <div class="branding">
        <a href="//www.texastribune.org/"><img class="trib-logo desktop" alt="The Texas Tribune" src="http://s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-logo-white500x55.png"></a>
        <span class="sub-text"> | </span>
        <a href="//www.statesman.com">{% block statesmanlogo %}{% endblock %}</a>
      </div>
    </div>
    {% block nav %}{% endblock %}
  </header>

  <div class="logo">
    {% block logo %}{% endblock %}
  </div>

  <div class="story-container">
    {% block content %}{% endblock %}
  </div>

  <div class="story-container comments" id="disqus_thread"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'texastribune';
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  <div class="story-container">
    <div class="story-content prose info">
      <h3>More in this series</h3>
      <div class="more">
          {% block more %}{% endblock %}
      </div>
      <h3>About</h3>
      <p>{{ FOOTER.about }}</p>
    </div>
  </div>
  <!-- <div class="ad-container banner-ad bottom" id="div-gpt-ad-1406570316312-2">
    <script>
      googletag.cmd.push(function() {
        googletag.display('div-gpt-ad-1406570316312-2');
      });
    </script>
  </div> -->
  <footer class="footer">
    <div class="footer-container">
      <div>
        <a href="https://twitter.com/newsapps"><img class="logo" src="//s3.amazonaws.com/apps.texastribune.org/branding/TxTrib-NewsApps-yellow.svg" alt="Texas Tribune News Apps logo, links to News Apps' Twitter account"></a>
      </div>
      <div>
        <ul>
          <li><a href="http://www.facebook.com/texastribune"><i class="icon fa-facebook-square"></i>Facebook</a></li>
          <li><a href="http://twitter.com/TexasTribune"><i class="icon fa-twitter-square"></i>Twitter</a></li>
          <li><a href="http://www.youtube.com/user/thetexastribune"><i class="icon fa-youtube-play"></i>YouTube</a></li>
          <li><a href="http://instagram.com/texas_tribune"><i class="icon fa-instagram"></i>Instagram</a></li>
          <li><a href="http://www.linkedin.com/company/texas-tribune"><i class="icon fa-linkedin-square"></i>LinkedIn</a></li>
        </ul>
      </div>
      <div class="internal-links">
        <ul>
        <li><a href="http://www.texastribune.org/about/">About Us</a></li>
        <li><a href="http://www.texastribune.org/support-us/donors-and-members/">Who Funds Us?</a></li>
        <li><a href="http://www.texastribune.org/terms-of-service/">Terms of Service</a></li>
        <li><a href="http://www.texastribune.org/ethics/">Code of Ethics</a></li>
        <li><a href="http://www.texastribune.org/privacy/">Privacy Policy</a></li>
        <li><a href="http://www.texastribune.org/corrections/">Corrections</a></li>
        <li><a href="https://www.texastribune.org/join/" class="donate-link">Donate</a></li>
      </ul>
      </div>
      <div class="donate">
        <ul>
          <li>Nonpartisan.</li>
          <li>Nonprofit.</li>
          <li>Statewide.</li>
          <a href="https://www.texastribune.org/join/"><li>Join Us</li></a>
        </ul>
      </div>
    </div>
  </footer>

{% block script %}
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/flexslider/jquery.flexslider-min.js"></script>
{% endblock %}
{% include 'includes/_google_analytics.html' %}
</body>
</html>
